@model ClassicCars.Models.Car

<link rel="stylesheet" href="~/css/car.css"/>

<div class="page">
    <header class="nav-bar">
        <div class="logo">R</div>
        <nav>
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Collection" asp-action="Index">Collections</a>
            @if (Context.Session.GetInt32("UserId") != null)
            {
                <form asp-controller="Profile" asp-action="Index" method="get" style="display:inline;">
                    <button type="submit" class="profile-btn">Profile</button>
                </form>
                <form asp-controller="Login" asp-action="Logout" method="post" style="display:inline;">
                    <button type="submit" class="logout-btn">Log Out</button>
                </form>
            }
            else
            {
                <form asp-controller="Register" asp-action="Register" method="get" style="display:inline;">
                    <button type="submit" class="signin-btn">Sign In</button>
                </form>

                <form asp-controller="Login" asp-action="Login" method="get" style="display:inline;">
                    <button type="submit" class="login-btn">Log In</button>
                </form>
            }
        </nav>
    </header>

    <div class="content">
        <div class="left">
            <div class="image-box"
                 style="background-image:url('@Model.ImageUrl')">
            </div>
        </div>

        <div class="right">
            <div class="info-box">
                <p><strong>Brand:</strong> @Model.Brand</p>
                <p><strong>Model:</strong> @Model.Model</p>
                <p><strong>Year:</strong> @Model.Year</p>
                <p><strong>Price:</strong> @Model.Price лв.</p>
            </div>

            <div class="tech-title">Technical data</div>

            <div class="tech-box">
                <div class="field">Engine type: @Model.EngineType</div>
                <div class="field">Horsepower: @Model.Horsepower</div>
                <div class="field">Condition: @Model.Condition</div>
                <div class="field">Transmission: @Model.Transmission</div>
            </div>
        </div>
    </div>

    <div class="description">
        <strong>Description:</strong>
        <p>@Model.Description</p>
    </div>
    <section class="footer-hero">
        <h3>Discover the Golden Age of the Automobiles</h3>
    </section>
</div>


